<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net452" />
  <package id="Dapper.Contrib" version="1.50.0" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.6.3" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.6.3" targetFramework="net452" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.1-rc.94" targetFramework="net452" developmentDependency="true" />
  <package id="StyleCop.Analyzers.Unstable" version="1.1.1.94" targetFramework="net452" developmentDependency="true" />
</packages>